* {
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: none;
}

/*---------------------------------------------------
	Font
---------------------------------------------------*/
body,
h1,
h2,
h3,
h4 {
  font-size: 16px;
  font-family: 'HelveticaNeue-Light', Helvetica, Arial, sans-serif;
  font-weight: 300;
}
h1 {
  font-size: 30px;
}
h2 {
  font-size: 34px;
  padding: 47px 0;
}
h3 {
  font-size: 30px;
  margin-bottom: 20px;
 }
b,
strong {
  font-family: 'HelveticaNeue-Bold', Helvetica, Arial, sans-serif;
  font-weight: 900;
}
label {
  font-family: 'HelveticaNeue', Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 12px;
}
.feature {
  font-size: 21px;
}
ux.highlight {
    background-color: #ffffaa;
}
ux.usablue {
    color: #002C77;
}

ux.usared {
    color: #CC0C2F;
}

ux.ptgreen {
    color: #006600
    }
ux.ptred{
	color: #FF0000;
}
ux.ptyellow{
	color: #FFFF00;
}

div.signature{
    position:absolute;
    right:0;
    text-align: center;
    padding-bottom: 40px;
    
}

div.right {
    text-align: right;
    padding-bottom: 40px;
}


/*---------------------------------------------------
	Generic
---------------------------------------------------*/
a:hover {
  color: #ff0000;
}
p {
  line-height: 2em;
  margin-bottom: 0em;
}
p + p {
  margin-top: 1em;
}
.clear {
  clear: both;
}
/*---------------------------------------------------
	Layout
---------------------------------------------------*/
#wrap,
.wrap,
#footer,
hr {
  width: 1008px;
  margin: 0 auto;
  position: relative;
}
.grid {
  background: url(../media/linen.jpg) #eeeeee 50% 0%;
  padding: 32px 0;
}

hr {
  border: none;
  border-top: 1px solid #ddd;
  margin-top: 64px;
  margin-bottom: 32px;
}

blockquote {
  width: 70%;
  margin: 0 auto;
  font-style: italic;
}
a {
	color: #1d9c6b;
	/*font-weight: normal;*/
	/*border-bottom: 3px dotted #20a872;*/
}
.cite {
  text-align: right;
}
/*---------------------------------------------------
	Layout - Header
---------------------------------------------------*/
.header-placeholder {
  height: 10px;
}
/*---------------------------------------------------
	Layout - Leadin
---------------------------------------------------*/
.leadin {
  margin-bottom: 20px;
}
.leadin .wrap {
  height: 200px;
}
.leadin .text-block {
  position: relative;
  left: 120px;
}
.leadin img {
  position: absolute;
  right: 0px;
}
.leadin li {
  list-style: none;
  margin: 9px 8px;
}
.leadin h1 {
  background: #fff;
  display: inline;
  padding: 4px 8px;
}
.leadin .home {
  position: absolute;
  padding-left: 65px;
  padding-top: 60px;
}

/* MISC */
.icon {
  background: url(../media/sprite.png) no-repeat;
  background-position: 0 -220px;
  padding-left: 78px;
}
.icon-about {
  background-position: 0 -220px;
}
